@font-face { font-family: "icons"; src: url("../fonts/icons.ttf"); }

#app {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.rank-wrapper {
    position: fixed;
    left: 20%;
    top: 25%;
    width: 5%;
    padding-top: 2px;
    color: #111111;
    font-family: Times, serif;
    text-align: right;
}

.rank {
    float: right;
    margin-right: 1vw;
    font-size: 2rem;
    font-weight: 400;
}

.invisible {
    visibility: hidden;
}

.main {
    position: fixed;
    left: 25%;
    top: 25%;
    width: 50%;
    color: #111111;
    font-family: Times, serif;
    text-align: left;
}

.intro {
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 100%;
    margin: 0px;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.name {
    font-size: 4rem;
    font-weight: 400;
}

.epithet {
    margin-left: 1vw;
    color: #ff0000;
    font-size: 4rem;
    font-weight: 400;
}

.titles {
    margin: 0.25rem 0px 0px 0px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2;
}

.quote {
    margin: 1rem 0px 0px 0px;
    padding-left: 1rem;
    border-left: 2px solid #111111;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1.2;
}

.quote:before { content: "\201C"; }
.quote:after { content: "\201D"; }

.description {
    margin: 1rem 0px 0px 0px;
    font-size: 1.2rem;
    line-height: 1.2;
}

.left {
    position: fixed;
    left: 2%;
    top: 40%;
    padding: 15px;
    transition: all 0.25s ease;
}

.left:hover {
    left: 1.5%;
}

.right {
    position: fixed;
    top: 40%;
    right: 2%;
    padding: 15px;
    transition: all 0.25s ease;
}

.right:hover {
    right: 1.5%;
}

[class*="icon"]:before {
    display: inline-block;
    font-family: "icons";
    font-size: 2rem;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}

.icon-arrow-right:before { content: "\ea3c"; }
.icon-arrow-left:before { content: "\ea40"; }
.icon-circle-right:before { content: "\ea42"; }
.icon-circle-left:before { content: "\ea44"; }